
<!doctype html>
<html lang="utf-8">
        {{>head}}
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                {{>nav}}
            </header>
            
            {{{body}}}

            {{!-- <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </footer> --}}
        </div>
    </body>
</html>
    